{
  "infraHPortS": {
    "attributes": {
      "dn": "uni/infra/accportprof-{{ leaf_profile }}/hports-port-{{ port_range }}-typ-range",
      "name": "port-{{ port_range }}",
      "rn": "hports-port-{{ port_range }}-typ-range",
      "status": "created"
    },
    "children": [
      {
        "infraPortBlk": {
          "attributes": {
            "dn": "uni/infra/accportprof-{{ leaf_profile }}/hports-port-{{ port_range }}-typ-range/portblk-block2",
            "fromPort": "{{ lower_limit }}",
            "toPort": "{{ upper_limit }}",
            "name": "block2",
            "rn": "portblk-block2",
            "status": "created"
          },
          "children": []
        }
      },
      {
        "infraRsAccBaseGrp": {
          "attributes": {
            "tDn": "uni/infra/funcprof/{{port_type_var}}-{{ if_pol_grp_name }}",
            "status": "created"
          },
          "children": []
        }
      }
    ]
  }
}