      {
        "infraAccBndlGrp": {
          "attributes": {
            "annotation": "",
            "descr": "",
            "dn": "uni/infra/funcprof/accbundle-{{ policy_group_name }}",
            "lagT": "link",
            "name": "{{ policy_group_name }}",
            "nameAlias": "",
            "ownerKey": "",
            "ownerTag": "",
            "status": "created"
          },
          "children": [
            {
              "infraRsStpIfPol": {
                "attributes": {
                  "annotation": "",
                  "tnStpIfPolName": "{{ item.stp_int_policy }}"
                }
              }
            },
            {
              "infraRsAttEntP": {
                "attributes": {
                  "annotation": "",
                  "tDn": "uni/infra/attentp-{{ item.aep }}"
                }
              }
            },
            {
              "infraRsCdpIfPol": {
                "attributes": {
                  "annotation": "",
                  "tnCdpIfPolName": "{{ item.cdp_policy }}"
                }
              }
            },
            {
              "infraRsHIfPol": {
                "attributes": {
                  "annotation": "",
                  "tnFabricHIfPolName": "{{ item.link_level_policy }}"
                }
              }
            },
            {
              "infraRsLacpPol": {
                "attributes": {
                  "annotation": "",
                  "tnLacpLagPolName": "{{ item.port_chann_policy }}"
                }
              }
            },
            {
              "infraRsLldpIfPol": {
                "attributes": {
                  "annotation": "",
                  "tnLldpIfPolName": "{{ item.lldp_policy }}"
                }
              }
            }
          ]
        }
      }